<!DOCTYPE html>

<h1> Welcome to your recipse</h1>
<a href='/logout' > logout </a>



<form action="/search" method="POST">
  <input type="text" name="entry" placeholder="ingredient" />
  <input type="submit" value="Search Ingredient" />
</form>


<a href='/new' > new </a>

<a href="/profile/<%= session[:user_id] %>" > your recipe book </a>